<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipmedt4.challengeweek_v2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Loginscherm"
            android:label="@string/Challengeweek" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Beginscherm"
            android:label="@string/Challengeweek" >
        </activity>
        <activity
            android:name=".OverzichtStudenten"
            android:label="@string/Challengeweek"
            android:parentActivityName=".Beginscherm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Beginscherm" />
        </activity>
        <activity
            android:name=".OverzichtKlassen"
            android:label="@string/Challengeweek"
            android:parentActivityName=".Beginscherm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Beginscherm" />
        </activity>
        <activity
            android:name=".Instellingen"
            android:label="@string/Challengeweek"
            android:parentActivityName=".Beginscherm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Beginscherm" />
        </activity>
        <activity
            android:name=".Versiescherm"
            android:label="@string/Challengeweek"
            android:parentActivityName=".Instellingen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Instellingen" />
        </activity>
        <activity
            android:name=".Disclaimerscherm"
            android:label="@string/Challengeweek"
            android:parentActivityName=".Instellingen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Instellingen" />
        </activity>
        <activity
            android:name=".Beoordelingscherm"
            android:label="@string/Challengeweek"
            android:parentActivityName=".OverzichtStudenten" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.OverzichtStudenten" />
        </activity>
        <activity
            android:name=".Bevestigingsscherm"
            android:label="@string/Challengeweek"
            android:parentActivityName=".Beoordelingscherm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Beoordelingscherm" />
        </activity>
        <activity
            android:name=".OverzichtStudenten_2"
            android:label="@string/title_activity_overzicht_studenten_2"
            android:parentActivityName=".OverzichtKlassen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.OverzichtKlassen" />
        </activity>
        <activity
            android:name=".Overzicht_Studenten2"
            android:label="@string/title_activity_overzicht__studenten2"
            android:parentActivityName=".OverzichtKlassen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.OverzichtKlassen" />
        </activity>
        <activity
            android:name=".Opmerkingenscherm"
            android:label="@string/title_activity_opmerkingenscherm"
            android:parentActivityName=".Beoordelingscherm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Beoordelingscherm" />
        </activity>
    </application>

</manifest>
