<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ipmedt4.challengeweek_v2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/Challengeweek"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Loginscherm"
            android:label="@string/Challengeweek"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Beginscherm"
            android:label="@string/Challengeweek" >
        </activity>
        <activity
            android:name=".OverzichtStudenten"
            android:label="@string/Challengeweek"
            android:parentActivityName=".Beginscherm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Beginscherm" />
        </activity>
        <activity
            android:name=".OverzichtKlassen"
            android:label="@string/Challengeweek"
            android:parentActivityName=".Beginscherm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Beginscherm" />
        </activity>
        <activity
            android:name=".Instellingen"
            android:label="@string/Challengeweek"
            android:parentActivityName=".Beginscherm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Beginscherm" />
        </activity>
        <activity
            android:name=".Beoordelingscherm"
            android:label="@string/Challengeweek"
            android:parentActivityName=".OverzichtStudenten" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.OverzichtStudenten" />
        </activity>
        <activity
            android:name=".Bevestigingsscherm"
            android:label="@string/Challengeweek"
            android:parentActivityName=".Beoordelingscherm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Beoordelingscherm" />
        </activity>
        <activity
            android:name=".Overzicht_Studenten1A"
            android:label="@string/Challengeweek"
            android:parentActivityName=".OverzichtKlassen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.OverzichtKlassen" />
        </activity>
        <activity
            android:name=".Overzicht_Studenten1B"
            android:label="@string/Challengeweek"
            android:parentActivityName=".OverzichtKlassen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.OverzichtKlassen" />
        </activity>
        <activity
            android:name=".Overzicht_Studenten1C"
            android:label="@string/Challengeweek"
            android:parentActivityName=".OverzichtKlassen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.OverzichtKlassen" />
        </activity>
        <activity
            android:name=".Overzicht_Studenten1D"
            android:label="@string/Challengeweek"
            android:parentActivityName=".OverzichtKlassen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.OverzichtKlassen" />
        </activity>
        <activity
            android:name=".Overzicht_Studenten1E"
            android:label="@string/Challengeweek"
            android:parentActivityName=".OverzichtKlassen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.OverzichtKlassen" />
        </activity>
        <activity
            android:name=".Overzicht_Studenten1F"
            android:label="@string/Challengeweek"
            android:parentActivityName=".OverzichtKlassen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.OverzichtKlassen" />
        </activity>
        <activity
            android:name=".Overzicht_Studenten1G"
            android:label="@string/Challengeweek"
            android:parentActivityName=".OverzichtKlassen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.OverzichtKlassen" />
        </activity>
        <activity
            android:name=".Overzicht_Studenten1H"
            android:label="@string/Challengeweek"
            android:parentActivityName=".OverzichtKlassen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.OverzichtKlassen" />
        </activity>
        <activity
            android:name=".Groepenscherm"
            android:label="@string/Challengeweek"
            android:parentActivityName=".OverzichtKlassenGroepen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.OverzichtKlassenGroepen" />
        </activity>
        <activity
            android:name=".OverzichtKlassenGroepen"
            android:label="@string/Challengeweek"
            android:parentActivityName=".Beginscherm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Beginscherm" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".BeoordelingschermGroepen"
            android:label="@string/Challengeweek"
            android:parentActivityName=".Groepenscherm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Groepenscherm" />
        </activity>
        <activity
            android:name=".BevestigingschermGroepen"
            android:label="@string/Challengeweek"
            android:parentActivityName=".BeoordelingschermGroepen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.BeoordelingschermGroepen" />
        </activity>
        <activity
            android:name=".StudentenGroepen"
            android:label="@string/title_activity_studenten_groepen"
            android:parentActivityName=".Groepenscherm" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ipmedt4.challengeweek_v2.Groepenscherm" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen" >
        </activity>
    </application>

</manifest>
